<h1>Our Sellers:</h1>

<p>We work with the finest purveyors to bring you quality goods, grown locally and harvested sustainably.</p>
<p>Browse and find your favorites below.</p>
<h5>Interested in getting started with us? Click here!</h5>

<%@sellers.each do |seller|%>
<div><p><%= link_to seller.name, seller_path(seller.id)%></p></div>
<%end%>




