<div class="row"">
<div class="column">
<img id="conf-img" src="https://i.imgur.com/zIafXj9.png">
</div>
<div class="column">
<img id="conf-img" src="https://i.imgur.com/Mgd0XJY.png">
</div>
</div>

</div>
<h1>Thank You For Shopping With Us!</h1>
<h2>Your order has been placed. We will be in contact soon!</h2>

<div class="exitdiv">
<%= link_to 'Shop More Items', items_path %><br>
<%= link_to 'Return to Profile Page', buyer_path %>
</div>