/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  scroll-behavior: smooth;
 
}
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
 body{
     margin:0;
     background-color: #fef2db;
 
 }

 #look{
   text-align: center;
   color:black;
   font-size: 3vh;
   text-shadow: 1px 1px white;
   font-family: 'Open Sans', sans-serif;
 }
 .item-title{
  text-align: center;
  color:black;
  font-size: 10vh;
  text-shadow: 1px 1px white;
  font-family: Jost, sans-serif;
  font-weight: 700;
  margin:10px 0 5px 0;

 }
 ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fef2db;
    padding: 0 20px;
    font-family: Jost, sans-serif;
    font-weight: 700;
   
  }
    li {
  display: inline;
}


ul.nav li {float: left;}

ul.nav li a {
  display: block;
  color: #f4cd00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Jost, sans-serif;
  font-weight: 700;
}

ul.nav li a:hover:not(.active) {background-color: #ff3b1e;}

ul.nav li a.active {background-color: #ff3b1e;}

ul.nav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}

.active{
  background-color: #ff3b1e;
}

.welcome-container{
display: flex;
flex-direction: column;
background-image: url("https://i.imgur.com/zQo56Wt.png");
background-repeat: no-repeat;
background-size: 50%;
margin:0;
background-position: top;
height: 90vh;
justify-content: center;
align-items: center;
font-family: 'Open Sans', sans-serif;
}


.logo{

  max-height: 90%;
  display: inline;
}

.form{
  /* position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);  */
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  
}


.center-logo-txt{
    margin-top: 420px;
    color: #ff3b1e;
    font-size:9vh;
    text-shadow: 3px 3px #d9e4d5;
    font-family: Jost, sans-serif;
    font-weight: 700;
}



hr {
  background-color: black;
  border: none;
  height: 1px;
}

#welcome-name{
  color: #ff3b1e;
  display: block;
  text-align: center;
  padding: 14px 16px;

}

.item-grid{
 display:inline-flexbox;
}
.item{

  display:inline-flexbox;
  color:black;
  font-size: 3vh;
  text-shadow: 1px 1px white;
  text-align: center;
  margin: 0;
  padding:10px;
}

#wel-item-scr{
  font-family: Jost, sans-serif;
  font-weight: 700;
 
}

a{
  font-family: Jost, sans-serif;
  font-weight: 700;
  text-decoration: none;
}