// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    grid-gap: 1%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

h1#items{
    text-align: center;
    text-shadow: 1px 1px white;
    font-family: Jost, sans-serif;
    font-weight: 700;
}

.item{
    
    padding: 45px;
    margin: 5px;
    background-color: #fef2db;
    text-align: center;

}

a{
    text-align: center;

}

.itemform{
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction:column;
    
}

.itemdiv{
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction:column;  
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: justify;
}