// Place all the styles related to the Sellers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.seller-photo{
    height:200px;
    width:auto;
    align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}